.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  vertical-align: middle;
  width: 70%;
}

.arrow-back{
  float: left;
  padding-top: 10px;
  position: relative;
}

.bckicon{
  color: lightgray;
}


.so-logo{
  float: center;
}
.formulario{
  width: 100%;
  text-align: center;
}

.formulario-container {
  display: grid;
  row-gap: 5px;
  margin: auto;
  width: 80%;
}

.login-bold {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.button-facebook {
  background-color: rgb(7, 7, 180);
  border: 1px solid  rgb(7, 7, 180);
  border-radius: 3px;
  color: white;
  height: 40px;
  margin-top: 30px;
  width: 320px;
}

.itens {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

.form-input {
  border: 1px solid  lightgray;
  border-radius: 3px;
  color: black;
  height: 40px;
  margin-top: 5px;
  width: 100%;
}

.container-label {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: bold;
  justify-content: left;
}

.check-forget {
  padding-top: 3px;
}

.input-check {
  all:unset;
  background-color: white;
  border: 1px solid lightgray;
  color: lightgray;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.input-check:checked:after {
  background-color: white;
  color: deeppink;
  content: '✔';
  font-size: 18px;
}

.span-check {
  font-size: 14px;
}
.span-forget-container {
  display: inline;
  float: right;
  width: 167px;
  text-align: right;
  justify-content: right;
}
.span-forget {
  color: deeppink;
  font-size: 12px;
  text-align: right;
}

.button-entrar {
  background-color: deeppink;
  border: 1px solid  deeppink;
  border-radius: 3px;
  color: white;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 320px;
}

.link-login{
  color: deeppink;
  font-weight: bold;
  text-decoration: none;
}

.login-footer {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
}

.footer-text {
  font-size: 12px;
}

.footer-pink {
  color: deeppink;
}

.btn-submit{
  margin-top: 20px;
}