.formulario{
  margin-top: 270px;
  width: 100%;
  text-align: center;
}

.formulario-container {
  width: 80%;
  margin: auto;
}

.itens {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


label {
  font-size: 20px;
  margin-right: 30px;
}

input {
  border-radius: 8px;
  height: 30px;
  width: 70%;
}

button {
  background-color: turquoise;
  border-radius: 8px;
  font-size: 20px;
  height: 50px;
  width: 70%;
}

@media (min-width: 767px) {
  .formulario {
    padding-top: 80px;
  }

  .formulario-container {
    width: 80%;
    margin: auto;
  }
  
  .itens {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  input {
    border-radius: 8px;
    height: 30px;
    width: 200px;
  }
  
  button {
    background-color: turquoise;
    border-radius: 8px;
    font-size: 20px;
    height: 50px;
    width: 200px;
  }
}