.footer {
  justify-content: center;
  margin-top: 1px solid lightgray;
  padding-top: 50px;
  width: 100%;
}

.line{
  border-top: 0.5px solid rgb(243, 241, 241);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 95%;
}

.grid-footer{
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.li-grid-in{
  justify-content: left;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: auto;
  margin-right: auto;
}

.footer-li {
  list-style-type: none;
}

.footer-li-header {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-li-item{
  font-size: 12px;
}

.no-padding{
  padding: 0;
}

@media (max-width: 768px) {
  .grid-footer{
    display: block;
  }
}