.cardIn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 70%;
}

.card-in-3-col {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  margin-top: 10px;
}

.card-in-5-col {
  column-gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 10px;
  margin-top: 10px;
}


.card-in-3-maior {
  display: block;
  height: 100%;
  width: 100%;
}

.img-card-in {
  display: block;
  height: 300px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.img-card-5-in{
  max-height: 150px;
  width: 100%;
}

.img-card-in-mini{
  display: block;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 10px;
  width: 30px;
}

.left,
.right {
  display: inline;
}

.right {
  text-align: right;
}


.input-gray  {
  border-radius: 3px;
  border: 1px solid lightgray;
  font-size: 12px;
  width: 67%;
  height: 30px;
}

.button-sm {
  border-radius: 3px;
  float: right;
  font-size: 12px;
  height: 34px;
  text-align: center;
  width: 30%;
}

.perguntas {
  max-height: 250px;
  overflow-y: scroll;
}

.perguntas::-webkit-scrollbar {
  display: none;
}

.perguntas-texto{
  font-size: 14px;
  font-weight: bold;
}

.card-in-3-menor {
  text-align: center;
}

.small-header {
  color: lightgray;
  font-size: 12px;
  margin-bottom: 4px;
}

.marca-header {
  color: black;
  font-size: 13px;
  margin-top: 2px;
}

.titulo-produto {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.span-pink {
  color: deeppink;
}

.span-gray {
  color: lightgray;
  text-decoration: line-through;
}

.button-sd {
  border-radius: 3px;
  font-size: 14px;
  height: 30px;
  margin-top: 5px;
  width: 100%;
}

.button-pink {
  background-color: deeppink;
  border: 1px solid deeppink;
  color: white;
}

.button-white {
  background-color: white;
  border: 1px solid lightgray;
  color: deeppink;
}

.titulo-card-5 {
  font-size: 16px;
  font-weight: bold;
}

.titulo-card-5-pink {
  color: deeppink;
}

.especificacoes {
  border-radius: 3px;
  margin-top: 15px;
  text-align: center;
}

.small-text{
  font-size: 12px;
}

.small-text-bot{
  margin-bottom: 2px;
  text-align: left;
}

.small-text-2 {
  color: lightgrey;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: left;
}

.descricao-prod {
  text-align: left;
}

.spec-tam {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: 60px;
}

.spec-tam-n{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.grid-spec{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  border-top: 1px solid lightgray;
  width: 100%;
}

.espec-item{
  border-left: 1px solid lightgray;
}

.espec-item{
  height: 60px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.btn40 {
  width: 60px;
}

.radio-sm{
  color: rgb(21, 240, 21);
}

.span-pink-sm {
  font-size: 12px;
}

.img-desc{
  position: relative;
}

.desc-pink {
  background-color: deeppink;
  border-radius: 3px;
  color: white;
  font-size: 10px;
  padding: 3px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: fit-content;
}

@media (max-width: 1200px) {
  .card-in-3-col{
    display: block;
  }
  .icons-middle{
    display: inline;
    padding: 10px;
  }
}

@media (max-width: 1295px) {
  .img-card-5-in {
    max-height: 100px;
  }
}

@media (max-width: 950px) {
  .img-card-5-in {
    max-height: 80px;
  }
}
@media (max-width: 780px) {
  .card-in-5-col {
    display: block;
  }

  .img-card-5-in {
    max-height: 220px;
  }
}
