.detalhes {
  background-color: #090909;
  display: block;
  height: 100%;
  padding-top: 270px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media (min-width: 767px) {
  .detalhes {
    padding-top: 150px;
  }
}