.nav {
  height: 100px;
  width: 100%;
}

.nav-part{
  height: 50%;
  width: 100%;
}

.nav-option {
  padding-top: 2px;
}

.nav-p1 {
  display: flex;
  align-items: center;
}

.nav-tarja {
  align-items: center;
  background-color: darkmagenta;
  color: white;
  display: flex;
  justify-content: center;
}

.tarja-in {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tarja-in2{
  margin-left: 5px;
}


.nav-span-bold {
  margin-left: 5px;
  font-weight: bold;
}

.nav-span-underline {
  text-decoration: underline;
}
.nav-part1{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.logo {
  margin-right: 15px;
  width: 40px;
  vertical-align: bottom;
}

.nav-input {
  height: 30px;
  width: 300px;
}

.nav-link {
  color: black;
  margin-left: 10px;
  text-decoration: none;
}

.nav-button {
  background-color: deeppink;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: inherit;
  height: 40px;
  width: 140px;

}

@media (max-width: 1080px) {
  .nav{
    height: 150px;
  }
  .nav-part1{
    display: block;
  }
  .nav-p1 {
    justify-content: center;
  }
}

@media (max-width: 765px) {
  .nav {
    height: 200px;
    width: 100%;
  }
  .nav-tarja {
    display: block;
    height: 50px;
  }
  .tarja-in {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 700px) {
  .nav-p2 {
    display: block;
    text-align: center;
    margin-top: 4px;
  }
  .nav-p2-in {
    margin-top: 8px;
  }
}
