.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 70%;
}

.banner{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  max-height: 220px;
  width: 70%;
  text-align: center;
}

.card-3-col {
  column-gap: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}

.card-4-col {
  column-gap: 60px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-bottom: 40px;
  margin-top: 40px;
}

.card-round {
  height: 200px;
}

.card-1 {
  max-height: 400px;
}

.card-4 {
  column-gap: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.fix-card-4 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

.card-2 {
  column-gap: 10px;
  display: grid;
  row-gap: 10px;
}

.img-card {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.img-card-r {
  border-radius: 50%;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.fix-rate {
  height: 100%;
}

.preco {
  background-color: white;
  border-radius: 3px;
  font-size: 10px;
  left: 3px;
  margin-top: 0;
  position: relative;
  top: -15px;
  width: fit-content;
}

.escuro {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.claro {
  color: gray;
  font-size: 14px;
  margin-top: 0;
}

.nome-vendedores-home{
  font-weight: bold;
  text-align: center;
}

@media(max-width:700px) {
  
 .card-4-col{
    display: block;
  }

  .card-round {
    display: block;
    width: 100%;
  }

  .img-card-r {
    margin-left: auto;
    margin-right: auto;
    max-height: 40px;
    max-width: 130px;
  }
}

.desc-vai-para-la{
  display: flex;
  justify-content: space-between;
}

.vai-para {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.vai{
  color: deeppink;
  font-size: 12px;
  text-decoration: none;
}


@media(max-width:730px) {

  .banner {
    width: 100%;
    padding-top: 30px;
  }
  
  .card-3-col {
    display: block;
  }

  .card-4 {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .img-card-r {
    max-height: 80px;
  }
}

@media(max-width:1000px) {
  .img-card-r {
    max-height: 100px;
  }
}

@media(max-width:1450px) {
  .img-card-r {
    max-height: 150px;
  }
}

@media (min-width: 1150px) {
  .card-1 {
    max-height: 600px;
  }
}

@media (min-width: 1790px) {
  .card-1 {
    max-height: 650px;
  }
}